In [5]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [6]:
emp=pd.Series(['mith','varsh','sweth','abi','sri','harsh','sanjay','nandha','seetha','achu','sound'])
id=pd.Series([10,20,30,40,50,60,70,80,90,100,110])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\n series to datafunction \n")
print(result)

 series to datafunction

       Emp   ID
0     mith   10
1    varsh   20
2    sweth   30
3      abi   40
4      sri   50
5    harsh   60
6   sanjay   70
7   nandha   80
8   seetha   90
9     achu  100
10   sound  110

In [7]:
result['Age']=pd.Series([10,20,30,40,50,60,70,80,90,100,110])
print(result)

       Emp   ID  Age
0     mith   10   10
1    varsh   20   20
2    sweth   30   30
3      abi   40   40
4      sri   50   50
5    harsh   60   60
6   sanjay   70   70
7   nandha   80   80
8   seetha   90   90
9     achu  100  100
10   sound  110  110

In [8]:
del result['Age']
print(result)

       Emp   ID
0     mith   10
1    varsh   20
2    sweth   30
3      abi   40
4      sri   50
5    harsh   60
6   sanjay   70
7   nandha   80
8   seetha   90
9     achu  100
10   sound  110

In [9]:
print("\n Extracting the second row\n")
print(result.loc[1])

 Extracting the second row

Emp    varsh
ID        20
Name: 1, dtype: object

In [11]:
print("\n slice row\n")
print(result[1:3])

 slice row

     Emp  ID
1  varsh  20
2  sweth  30

In [13]:
print(result.drop(2))

       Emp   ID
0     mith   10
1    varsh   20
3      abi   40
4      sri   50
5    harsh   60
6   sanjay   70
7   nandha   80
8   seetha   90
9     achu  100
10   sound  110