In [5]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['Abi','Bala','Charles','Darun','Abi','Charles','Darun'],'B':['one','two','three','one','two','three','one'],
                 'C':np.random.randint(7,size=7),'D':np.random.randint(7,size=7)})
print("\nOriginal DataFrame\n",df)

Original DataFrame
          A      B  C  D
0      Abi    one  5  0
1     Bala    two  2  2
2  Charles  three  3  3
3    Darun    one  5  2
4      Abi    two  1  0
5  Charles  three  1  5
6    Darun    one  2  6

In [9]:
#Grouping with column
df1=df.groupby(['A'],as_index=False)['C'].sum()
print("\nOriginal DataFrame\n",df)
print("\nGrouped DataFrame\n",df1)

Original DataFrame
          A      B  C  D
0      Abi    one  5  0
1     Bala    two  2  2
2  Charles  three  3  3
3    Darun    one  5  2
4      Abi    two  1  0
5  Charles  three  1  5
6    Darun    one  2  6

Grouped DataFrame
          A  C
0      Abi  6
1     Bala  2
2  Charles  4
3    Darun  7

In [10]:
df2=df.groupby(['A','B'],as_index=False)['C'].sum()
print("\nOriginal DataFrame\n",df)
print("\nGrouped DataFrame\n",df2)

Original DataFrame
          A      B  C  D
0      Abi    one  5  0
1     Bala    two  2  2
2  Charles  three  3  3
3    Darun    one  5  2
4      Abi    two  1  0
5  Charles  three  1  5
6    Darun    one  2  6

Grouped DataFrame
          A      B  C
0      Abi    one  5
1      Abi    two  1
2     Bala    two  2
3  Charles  three  4
4    Darun    one  7

In [12]:
df3=df.groupby(['A','B'],as_index=False)[['C','D']].sum()
print("\nOriginal DataFrame\n",df)
print("\nGrouped DataFrame\n",df3)

Original DataFrame
          A      B  C  D
0      Abi    one  5  0
1     Bala    two  2  2
2  Charles  three  3  3
3    Darun    one  5  2
4      Abi    two  1  0
5  Charles  three  1  5
6    Darun    one  2  6

Grouped DataFrame
          A      B  C  D
0      Abi    one  5  0
1      Abi    two  1  0
2     Bala    two  2  2
3  Charles  three  4  8
4    Darun    one  7  8

In [15]:
#Using groupby() with agg()
import pandas as pd
df=pd.DataFrame({'Category':['A','B','C','A','B','C'],'Sales':[100,200,150,150,130,200],
                 'Profit':[10,15,20,25,30,15]})
print(df)
df1=df.groupby("Category").agg({'Sales':['sum','mean'],'Profit':['sum','max']})
print(df1)

  Category  Sales  Profit
0        A    100      10
1        B    200      15
2        C    150      20
3        A    150      25
4        B    130      30
5        C    200      15
         Sales        Profit
           sum   mean    sum max
Category
A          250  125.0     35  25
B          330  165.0     45  30
C          350  175.0     35  20

In [26]:
import pandas as pd
df=pd.DataFrame({'Name':['Mithali','Varsha','Harsh','Swetha','Abi'],'Marks':[92,87,88,96,89],
                 'Attendence':[98,77,80,89,90]})
print(df)
df2=df.groupby("Name").agg({'Marks':['sum','mean'],'Attendence':['sum']})
df2['Percentage'] = df.groupby('Name')['Marks'].apply(lambda x: (x / x.sum()) * 100)
print(df2)

      Name  Marks  Attendence
0  Mithali     92          98
1   Varsha     87          77
2    Harsh     88          80
3   Swetha     96          89
4      Abi     89          90
        Marks       Attendence Percentage
          sum  mean        sum
Name
Abi        89  89.0         90        NaN
Harsh      88  88.0         80        NaN
Mithali    92  92.0         98        NaN
Swetha     96  96.0         89        NaN
Varsha     87  87.0         77        NaN